# CI de Nível 01 - Disparo Manual a partir de 1 clique

# nome que aparece nas opções da pipe

name: "Execução Manual"

# regras de disparo da excucao (triggers)

on:
  workflow_dispatch:

jobs:
  # descricao do job
  e2e-tests:
    # maquina que o job vai executar
    runs-on: ["ubuntu-latest"]

    # passo a passo das acoes do job
    steps:
      - uses: actions/checkout@v4

      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        working-directory: trabalho-entregue
        run: yarn

      - name: Instalando TypeScript
        working-directory: trabalho-entregue
        run: yarn global add typescript

      - name: Instalando Express
        working-directory: ./crud_clientes_node-main/backend
        run: yarn add express

      - name: Instalando swagger-jsdoc
        working-directory: ./crud_clientes_node-main/backend
        run: yarn add swagger-jsdoc

      - name: Instalando swagger-ui-express
        working-directory: ./crud_clientes_node-main/backend
        run: yarn add swagger-ui-express

      - name: Levantar o servidor em background
        working-directory: ./crud_clientes_node-main/backend
        run: node app.js &

      - name: Testes E2E
        working-directory: trabalho-entregue
        run: yarn run e2e
